<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.evandro.atividade2">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Atividade2">

        <activity
            android:name=".TodoActivity"
            android:parentActivityName=".TodoActivity" />

        <activity
            android:name=".PostsActivity"
            android:parentActivityName=".PostsActivity" />

        <activity
            android:name=".AlbumsActivity"
            android:parentActivityName=".AlbumsActivity" />

        <activity
            android:name=".CommentsActivity"
            android:parentActivityName=".CommentsActivity" />

        <activity
            android:name=".DetailTodoActivity"
            android:parentActivityName=".DetailTodoActivity" />

        <activity
            android:name=".DetailPostActivity"
            android:parentActivityName=".DetailPostActivity" />

        <activity
            android:name=".DetailCommentActivity"
            android:parentActivityName=".DetailCommentActivity" />

        <activity
            android:name=".DetailAlbumActivity"
            android:parentActivityName=".DetailAlbumActivity" />

        <activity android:name=".PrincipalActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>